/*
!.gitignore

!*/

!.bashrc
!.vimrc
!.zshrc
!.tmux.conf
!.bash_profile
!.gitconfig
!.profile
!.zshenv
!install.sh

!/.config/
!/pacman/*

/.config/*

!/.config/nvim/
!/.config/alacritty/
!/.config/gtk-3.0/
!/.config/hypr/
!/.config/sway/
!/.config/swaync/
!/.config/waybar/
!/.config/rofi/
!/.config/tmuxinator/
!/.config/kitty/
!/.config/mimeapps.list
