* {
    font-family: FontAwesome;
    font-size: 14px;
}

@import "/home/sarun/.cache/wal/colors-waybar.css";

window#waybar {
    background: transparent;
    color: @foreground;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#privacy,
#backlight,
#idle_inhibitor {
    padding: 0 8px;
}

#workspaces button {
  background: transparent;
  font-weight: 900;
}

#workspaces button.active {
    color: @background; 
}
