* {
    font-family: FontAwesome;
    font-size: 14px;
}

window#waybar {
    background: #282828; /* Gruvbox dark background */
    color: #ebdbb2;       /* Gruvbox light foreground */
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#privacy,
#backlight,
#idle_inhibitor {
    padding: 0 8px;
    color: #ebdbb2; /* Gruvbox light text */
}

#workspaces button {
    background: transparent;
    font-weight: 900;
    color: #928374; /* Gruvbox gray */
}

#workspaces button.active {
    color: #fabd2f;       /* Gruvbox yellow */
    background: #3c3836;  /* Gruvbox dark gray */
    border-radius: 0;
}

